<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>
			Narrow &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
		<meta
			name="keywords"
			content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"
		/>
		<meta name="author" content="FREEHTML5.CO" />

		<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />
		<meta property="og:site_name" content="" />
		<meta property="og:description" content="" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico" />

		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
			rel="stylesheet"
			type="text/css"
		/>

		<link rel="stylesheet" href="/static/admin/css/login.css" />
	</head>
	<body>
		<div class="container">
			<div class="screen">
				<div class="screen__content">
					<form class="login">
						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input
								type="text"
								class="login__input"
								placeholder="User name / Email"
							/>
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
							<input
								type="password"
								class="login__input"
								placeholder="Password"
							/>
						</div>
						<button class="button login__submit">
							<span class="button__text">Log In Now</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>
					</form>
					<div class="social-login">
						<h3>log in via</h3>
						<div class="social-icons">
							<a href="#" class="social-login__icon fab fa-instagram"></a>
							<a href="#" class="social-login__icon fab fa-facebook"></a>
							<a href="#" class="social-login__icon fab fa-twitter"></a>
						</div>
					</div>
				</div>
				<div class="screen__background">
					<span
						class="screen__background__shape screen__background__shape4"
					></span>
					<span
						class="screen__background__shape screen__background__shape3"
					></span>
					<span
						class="screen__background__shape screen__background__shape2"
					></span>
					<span
						class="screen__background__shape screen__background__shape1"
					></span>
				</div>
			</div>
		</div>
		<!-- END: box-wrap -->

		<!-- Main JS (Do not remove) -->
		<!-- <script src="static/js/main.js"></script> -->
	</body>
</html>
